*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans serif;
}


 /*   ----------------------------------- 
                Sokhna 
    ---------------------------------*/

/* Header */
 
header{
    background: linear-gradient(90deg, #041c655a 10%, #041D65 79%, #041D65 100%);
    height: 90px; 
    width: 100%;
    padding: 10px 0;
    display: block;
}
.logo{
    height: 100px;
    width: 180px;
    margin: 0 50px;
}
nav{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* margin: 0px; */
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 0 50px;

}
.nav-links{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} 
li a:hover{
    color: #041D65;
    transition: 500ms;
}

/* 
    --------------------------------
                Hero
    -------------------------------- */

.arrow{
    background-color: #041D65;
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
    border: none;
    position: fixed;
}
.arrow:hover{
    background-color: #209dd8;
}

.left-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  color: #ffffff85;
  /* height: 80%;   */
 
}
.left-section h1{
    color: #fff;
    font-size: 45px;
    font-weight: bolder;
}

.hero{
    background: linear-gradient(90deg, #041c655a 10%, #041D65 79%, #041D65 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border-radius: 15px; */
    font-size: 18px;
    margin: 0;
    padding: 10px 40px;
}

.texte span{
    font-weight: bold;
}
 
.div-btn{
    display: flex;
    gap: 20px;
}
.inscrire{
    width: 130px;
    border-radius: 33px;
    font-size: 15px;
    border: none;
    padding: 10px;
    background-color: #041D65;
    color: white;
    /* margin-bottom: 30px; */
}
.inscrire:hover{
    background-color: #209dd8;
}

.btn-voir{
    color: #fff;
    width: 150px;
    border: none;
    font-size: 18px;    
    background-color: transparent;
}
/* .btn-voir i:hover{
    color: black;
} */

.btn-voir .bi:hover{
    color: #041D65;
}
.img{
    width: 25px;
    height: 20px;
   
}
.right-section{
    width: 45%;
    height: 45%;
}
.image-hero{
    width: 90%;
    height: 100%;
    animation: lady 3s infinite alternate ;
    animation-delay: 1s;
}
@keyframes lady {
    0%{
        translate: 0px;
    }
    100%{
        translate: 0px -60px;
    }
}

h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
} 


/* Section container A propos de SenSpace */

.section-a-propos{
    display: flex;
    flex-direction: column;
    gap: 70px;   
}
.section-a-propos h1{
    color: #041D65;
    font-weight: 600;
    font-size: 35px;
}
.p-void{
    width: 30px;
    border: 1px solid #5e5e5e;
}
.p-void span{
    width: 30px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px solid #1226a4;
}
.left-a-propos{
    padding: 30px;
    /* background-color: red; */
    width: 50%;
}

.liste{
    display: flex;
    flex-direction: column;
}
.liste li{
    list-style: none;
    margin-left: -80px;
}
/* ::before {
    box-sizing: border-box;
} */
.voir{
    background-color: white;
    padding: 10px 15px;
    width: 150px;
    border: 2px solid #041D65;
    border-radius: 5px;
    font-size: 15px;
    color: #041D65;
    font-weight: 500;
    margin: 15px;
}
.voir:hover{
    color: #fff;
    background-color: #041D65;
    transition: 500ms;
}



 /*   ----------------------------------- 
                Sokhna 
    ---------------------------------*/

     /*   ----------------------------------- 
                Bakari 
    ---------------------------------*/

.propositions-et-services{
    background-color: #c4cfea3b;
}
h2, h1{
    color: #41578f;    
}
.propositions{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
}
#textProposition1, #textProposition2, #textProposition3{
    display: none;
    width: 300px;
}
.left-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.left-div h1{
    color: #37517e;
}
.h3{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.h3 h3{
    transition: 0.5s;
    font-size: 20px;
    font-weight: 600;
}
.h3 h3:hover{
    color: #209dd8;
}
.proposition-1 h3, .proposition-2 h3, .proposition-3 h3{
    color: #37517e;
    display: flex;
    gap: 30px;
}
.h3 span{
    color: #1226a4;
    font-weight: 600;
}
.h3 button{
    background-color: transparent;
    border: none;
}
.h3 img{
    width: 14px;
    height: 14px;
    transition: 10s;
}
.proposition-1, .proposition-2, .proposition-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    
}

.right-div img{
    width: 600px;
    height: 500px;
}

.services{
    margin-top: 50px;
    padding: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.intro-services{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.title-services{
    color: #041D65;
    font-weight: 800;
    font-size: 30px;
}
.div-services{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.div-services:hover{
    animation: survol 1s alternate forwards;
}
@keyframes survol {
    0%{
        translate: 0 30px;
    }
    100%{
        translate: 0 -30px
    }
}
.div-services img{
    margin-left: 30px;
    width: 35px;
    height: 35px;
}
.div-services h2{
    text-align: left;
    color: #1226a4;
    font-weight: 600;
    font-size: 25px;
}

.section-cta{
    background-image: url(/images/cta-bg.jpg);
    background-repeat: no-repeat;
    

}
.cta{
    display: flex;
    padding: 50px;
    color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}
.cta h2{
    color: #fff;
    font-size: 30px;
    margin: 0 40px;
}
.cta-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
.cta-text p{
    width: 65%;
    margin: 0;
    padding: 0;
}
.cta-text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 12px 40px;
    margin: 10px;
    border-radius: 20px;
} 

.void{
    height: 100px;
    background-color: #f3f5fa;
}



/* ----------------------------------
        Contact
--------------------------------- */
.contact{
    margin: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title-contact{
    font-size: 30px;
    color: #37517e;
    font-weight: bold;
}
.div-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    padding: 10px 80px;
}

/* Right contact */

.right-contact{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-top: 3px solid #041D65;
    border-bottom: 3px solid #041D65;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-contact label{
    text-align: left;

}
.right-contact input{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.582)
}
.right-contact textarea{
    height: 300px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.582)

}
.name-email{
    display: flex;
    gap: 30px;
}
.name, .email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.object, .message{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#btnSend{
    padding: 12px 23px;
    width: 130px;
    border-radius: 28px;
    color: #fff;
    border: none;
    background-color: #041D65;
    margin: 10px auto;
} 
#btnSend:hover{
    background-color: #209dd8;
    transition: 500ms;
}   

/* Left contact */
.left-contact{
    width: 60%;
    border-top: 3px solid #041D65;
    border-bottom: 3px solid #041D65;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.address, .email, .tels{
    color: #37517e  ;
    text-align: left;
}
.address h4, .email h4, .tels h4{
    font-weight: 600;
}

/*---------------------------
    Newsletter
--------------------------- */
.newsletter{
    background-color: #c4cfea3b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    margin: 30px 0; 
}
.newsletter h4{
    color: #041D65;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.newsletter p{
    text-align: center;
}
.form-newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-newsletter input[type=submit]{
    padding: 10px 20px;
    width: 120px;
    border-radius: 28px;
    color: #fff;
    border: none;
    background-color: #041D65;
    margin: 0 -25px;
}
.form-newsletter input[type=email]{
    margin: 0 -10px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    width: 40%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* --------------------------------
            Footer
-------------------------------- */

.info-senespace{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px 80px;
}
.div1-info-senespace, .div2-info-senespace, 
.div3-info-senespace{
    width: 22%;
    margin: 0;
    padding: 0;
}

.div1-info-senespace{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div1-info-senespace h3{
    color: #37517e;
    font-weight: 900;
}
.div1-info-senespace p{
    font-size: 14px;
    line-height: 24px;
    color: #5e5e5e;
}

.div2-info-senespace, .div3-info-senespace{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div2-info-senespace h4, .div3-info-senespace h4{
    color: #37517e;
    font-weight: 900;
    font-size: 17px;
    margin-left: 80px;
}
.footer-links, .footer-services{
    display: flex;
    flex-direction: column;
    line-height: 8px;
    list-style: none
}

.footer-links li a, .footer-services li a{
    color: #5e5e5e;
    font-size: 14px;
}

.div4-info-senespace{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
}
.div4-info-senespace h4{
    display: inline;
    text-align: left;
    color: #37517e;
    font-weight: 900;
    font-size: 17px;
}
.div4-info-senespace p{
    font-size: 14px;
}

.socials-networks{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.twitter , .facebook , .skype , 
.instagram , .linkedin {
    color: #fff;
    font-weight: 900;
    font-size: 15  px;
    background-color: #041D65;
    padding: 6px 25px 6px 10px;
    width: 25px;
    border-radius: 60%;
    transition: 0.5s;
}
.twitter:hover, .facebook:hover, .skype:hover, .instagram:hover, .linkedin:hover{
    background-color: #209dd8;
}

/*
    --------------------------------------
                Droit d'auteur 
    --------------------------------------                
*/

.droit-auteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #37517e;
    padding: 50px;
    height: 100px;
    align-content: center;
}
.copyright{
    color: #fff;
    font-size: 14px;
    /* margin: 30px; */
}
.design{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #fff;
}
.design a{
    color: #041D65;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}
.design a:hover{
    color: #209dd8;
}
