*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


 /*   ----------------------------------- 
                Sokhna 
    ---------------------------------*/

 body{
    margin: 0;
   

}

/* Header */
 
header{
    background: linear-gradient(90deg, #041c655a 10%, #041D65 79%, #041D65 100%);
    /* background-color: rgb(74, 112, 166); */
    height: 90px; 
    /* width: 100%; */
    padding: 20px;
    display: block;
   
}
.logo{
    height: 100px;
    width: 180px;
}
nav{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 0px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} 
li a:hover{
    color: #041D65;
    transition: 500ms;
}




.left-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  color: #ffffff85;
  /* height: 80%;   */
 
}
.left-section h1{
    color: #fff;
    font-size: 45px;
}

.hero{
    background: linear-gradient(90deg, #041c655a 10%, #041D65 79%, #041D65 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border-radius: 15px; */
    font-size: 22px;
    margin: 0;
    padding: 60px;
}

.texte span{
    font-weight: bold;
}
 
.div-btn{
    display: flex;
    gap: 20px;
}
.inscrire{
    width: 150px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    padding: 15px 15px;
    background-color: #041D65;
    color: white;
    /* margin-bottom: 30px; */
}
.inscrire:hover{
    background-color: #209dd8;
}

.btn-voir{
    width: 150px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    

}
.btn-voir img{
    width: 30px;
    height: 30px;
}

.btn-voir:hover{
    color: #fff;
}
.img{
    width: 25px;
    height: 20px;
   
}
.right-section{
    width: 50%;
    height: 50%;
}
.image-hero{
    width: 90%;
    height: 100%;
    animation: lady 3s infinite alternate;
}
@keyframes lady {
    0%{
        translate: 0 60px;
    }
    100%{
        translate: 0 -60px;
    }
}

h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
} 
 */ */

/* Section container A propos de SenSpace */

.section-a-propos{
    display: flex;
    flex-direction: column;
    gap: 70px;   
}
.section-a-propos h1{
    color: #041D65;
    font-weight: 600;
    font-size: 35px;
}
.left-a-propos{
    padding: 30px;
    /* background-color: red; */
    width: 50%;
}

.liste{
    display: flex;
    flex-direction: column;
}
.liste li{
    list-style: url();
}
/* ::before {
    box-sizing: border-box;
} */
.voir{
    background-color: white;
    padding: 10px 15px;
    width: 150px;
    border: 2px solid #041D65;
    border-radius: 5px;
    font-size: 15px;
    color: #041D65;
    font-weight: 500;
    margin: 15px;
}
.voir:hover{
    color: #fff;
    background-color: #041D65;
    transition: 500ms;
}



 /*   ----------------------------------- 
                Sokhna 
    ---------------------------------*/

     /*   ----------------------------------- 
                Bakari 
    ---------------------------------*/

/* .a-propos{
} */
h2, h1{
    color: #41578f;    
}
.propositions{
    background-color: #c4cfea3b;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
#textProposition1, #textProposition2, #textProposition3{
    display: none;
    width: 300px;
}
.left-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.h3{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
h3{
    color: #41578f;
   display: flex;
   gap: 30px;
}
.h3 span{
    color: #1226a4;
    font-weight: 600;
}
.h3 button{
    background-color: transparent;
    border: none;
}
.h3 img{
    width: 14px;
    height: 14px;
    transition: 10s;
}
.proposition-1, .proposition-2, .proposition-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    transition: 500ms;
}

.right-div img{
    width: 600px;
    height: 500px;
}

.services{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.intro-services{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.title-services{
    color: #041D65;
    font-weight: 800;
    font-size: 30px;
}
.div-services{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.section-cta{
    background-image: url(/images/cta-bg.jpg);
    background-repeat: no-repeat;
    /* background: url(/images/cta-bg.jpg); */
    /* background: scroll; */

}
.cta{
    display: flex;
    padding: 50px;
    color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 30px;
}
.cta h2{
    color: #fff;
    font-size: 30px;
    margin: 0 40px;
}
.cta-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
.cta-text p{
    width: 65%;
    margin: 0;
    padding: 0;
}
.cta-text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 12px 40px;
    margin: 10px;
    border-radius: 20px;
} 

.void{
    height: 100px;
    background-color: rgba(128, 128, 128, 0.137);
}

.contact{
    margin: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contact h1{
    font-size: 30px;
}
.div-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
}
form input{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.582)
}
form textarea{
    height: 100px;
}
.name-email{
    display: flex;
    gap: 30px;
}
.name, .email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.object, .message{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#btnSend{
    padding: 15px 23px;
    width: 120px;
    border-radius: 20px;
    color: #fff;
    border: none;
    background-color: #041D65;
    margin: 0 auto;
} 
#btnSend:hover{
    background-color: #209dd8;
    transition: 500ms;
}